@model EstudoProjetoCS.Models.ProcedimentoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemSucesso"]
    </div>
}
@if (TempData["MenssagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemErro"]
    </div>
}
<div class="text-center">
    <h1 class="display-4"> Detalhes do Procedimento</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Dados</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Codigo_Procedimento)</th>
                    <td>@Html.DisplayFor(model => model.Codigo_Procedimento)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Descricao)</th>
                    <td>@Html.DisplayFor(model => model.Descricao)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Prioridade)</th>
                    <td>@Html.DisplayFor(model => model.Prioridade)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Valor)</th>
                    <td>@Html.DisplayFor(model => model.Valor)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Data_Solicitacao)</th>
                    <td>@Html.DisplayFor(model => model.Data_Solicitacao)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Atendente)</th>
                    <td>@Html.DisplayFor(model => model.Atendente.Nome)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Cliente)</th>
                    <td>@Html.DisplayFor(model => model.Cliente.Nome)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Tecnico)</th>
                    <td>@Html.DisplayFor(model => model.Tecnico.Nome)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" role="button" asp-action="Index">Voltar</a>
</div>
