@model EstudoProjetoCS.Models.AtendenteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemSucesso"]
    </div>
}
@if (TempData["MenssagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemErro"]
    </div>
}
<div class="text-center">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Dados</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Nome)</th>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Registro)</th>
                    <td>@Html.DisplayFor(model => model.Registro)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <h3> Esta ação excluira permanentemente o registro, deseja continuar?</h3>
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-primary" role="button" asp-action="Index">Voltar</a>
    </form>
</div>