@model IEnumerable<EstudoProjetoCS.Models.ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}
@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemSucesso"]
    </div>
}
@if (TempData["MenssagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MenssagemErro"]
    </div>
}
<div class="text-center">
    <h1 class="display-4"> Listagem de Clientes</h1>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Clientes" asp-action="Criar">Novo Cliente</a>
    </div>
    <br />
    <table class="table" id="TablePag">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Contato)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var item in Model)
            {
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Contato)</td>
                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a role="button" class="btn btn-outline-primary" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                            <a role="button" class="btn btn-outline-primary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                            <a role="button" class="btn btn-outline-danger" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

